@font-face {
    font-family: Exo;
    src: url(fonts/Exo/Exo-Light.ttf);
}

main {
    font-family: Exo !important;
}

main > section#pres_container {
    width: inherit;
    margin: 12%;
    margin-top: 6%;
}

section#pres_container > h1 {
    font-size: 260%;
}

div.proj-list {
    margin-top: 6%;
    margin-bottom: 6%;
}

div.proj-list  p {
    font-size: 200%;
    margin-left: 10%;
}

div.proj-list ul {
    display: flex;
    justify-content: space-around;

    margin-top: 6%; margin-bottom: 6%; 
}

div.proj-list ul li {
    margin: 1%;
    padding: 1rem;
    border-radius: 35% 35% 0% 0%;
    border: 3px solid rgb(85, 78, 78);
    border-bottom: 3px dashed rgb(85, 78, 78);
    list-style-type: none;
}

div.proj-list ul li button {
    text-decoration: none;
    background-color: inherit;
    border: none;
    font-size: 170%;
    font-family: Exo !important;
}