<!DOCTYPE html>
<html lang="en">
<head>
    <!--Required for working--> <link rel="stylesheet" href="../../css/index/index_root.css">
    <!--Required for working--> <link rel="stylesheet" href="../../css/index/index_main.css">
    <link rel="stylesheet" href="./homeAnimDiv.css">
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <main>
        <section id="pres_container">
            <h1><!--Cool title-->Welcome. My name is MENIER Thomas Wanchaï</h1>
            <div class="proj-list">
                <p><!--Short presenetation-->Lorem</p>
                <ul id="menu-select">
                    <li>About me</li>
                    <li>My projects</li>
                </ul>
            </div>
            
            
        </section>
    </main>
</body>
</html>