@font-face {
    font-family: Exo;
    src: url(fonts/Exo/Exo-Light.ttf);
}

main {
    font-family: Exo !important;
}

main > section#pres_container {
    display: flex;
    
    width: inherit;
    height: inherit;
    margin: 6%;
    margin-top: 6%;

    max-height: 60%;
}

section#pres_container > div.welcome > h1 {
    font-size: 220%;
    font-weight: bold;
}

div.welcome {
    display:flex;
    flex-direction: column;
    
    /*flex child properties*/
    flex: 4;
}

div.welcome p {
    font-size: 200%;
    margin-top: 4%;
    margin-left: 5%;
    max-width: 50%;
}

#pres_langs_spoken {
    display: flex;
    flex-direction: column;
    align-items: center;
    clip-rule:evenodd;
    clip-path: polygon(40% 0, 100% 0, 60% 100%, 0% 100%);

    flex: 2;
    
    height: inherit;
}

#pres_langs_spoken img {
    max-width: 80%;
    max-height: 50%;
}

#pres_langs_spoken img:first-child {
    margin-left: 20%;
}