<!DOCTYPE html>
<html lang="en">
<head>
    <!--Required for working--> <link rel="stylesheet" href="../../css/index/index_root.css">
    <!--Required for working--> <link rel="stylesheet" href="../../css/index/index_main.css">
    <link rel="stylesheet" href="./homeIndex.css">
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <main>
        <section id="pres_container">
            <h1><!--Cool title-->[Welcoming phrase]</h1>
            <div class="proj-list">
                <p><!--Short presenetation-->First year Computer Science student</p>
            </div>
        </section>
    </main>
</body>
</html>