<!DOCTYPE html>
<html lang="en">
<head>
    <!--Required for working--> <link rel="stylesheet" href="../../css/index/index_root.css">
    <!--Required for working--> <link rel="stylesheet" href="../../css/index/index_main.css">
    <link rel="stylesheet" href="./homeIndex.css">
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <main>
        <section id="pres_container">
            <div class="welcome">
                <h1><!--Cool title-->[Welcoming phrase]</h1>
                <p><!--Short presenetation-->First year Computer Science student
                    blablablablablablblalbalblablalblblablabl</p>
            </div>
            <div class="flags">
                <img src="img/flag_french.png">
                <img src="img/flag_thailand.png">
            </div>
        </section>
    </main>
</body>
</html>