@font-face {
    font-family: Exo;
    src: url(fonts/Exo/Exo-Light.ttf);
}

main {
    font-family: Exo !important;
    justify-content: center;
}

main > section#pres_container {
    display: flex;
    
    width: 80%;
    height: 80%;
    margin-top: 6%;

    max-height: 60%;
}

section#pres_container > div.welcome > h1 {
    font-size: 220%;
    font-weight: bold;
}

div.welcome {
    display:flex;
    flex-direction: column;

    flex:1;
}

div.welcome p {
    font-size: 200%;
    margin-top: 4%;
    margin-left: 5%;
    max-width: 50%;
}

div.flags {
    display: flex;
    justify-content: center;
    align-items: center;

    flex: 1;
}

div.flags div.clipper {
    display: flex;
    flex-direction: column;
}

div.flags div.clipper img {
    min-width: 120px;
    min-height: 30px;

    max-width: 480px;
    max-height: 120px;
}