/* Declaring all colors used in index.html*/

/*
Legend:
    bg      Background
    bd(s)   Border(s)
*/

:root {
    /* navigation menu */
    --nav-bg: rgb(100, 112, 125);
    --nav-bd: rgb(73, 82, 91);
    --nav-txt: white;

    --nav-bt-hover: rgb(156, 174, 193);

    /* Header */
    --header-bg: rgb(170, 185, 238);
    --header-me-img: red;

    --menu-items-bg: linear-gradient(to right, rgb(116, 184, 156), rgb(203, 246, 229));
    --menu-items-bd: rgb(132, 157, 147);

    --main-bg: rgb(227, 225, 201);

    --main-heading-bdr: rgb(116, 184, 156);
    --main-heading-bg: rgb(203, 246, 229);

    --about-img-corner: rgb(54, 29, 46);

    --pdis-bd: rgb(107, 107, 107);
    --pdis-col-bds: rgb(127, 134, 158);
    --pdis-item-bg: rgb(193, 206, 255);
    --pdis-col1-sel: navy;

    /* Content */
    --career-li-bg: rgb(244, 244, 244);
    --career-li-bd: rgb(207, 207, 207);

    /* Footer */
    --footer-bg: var(--nav-bg);
    --footer-dsc-bd: black;
}