/* Declaring all colors used in index.html*/

/*
Legend:
    bg      Background
    bd(s)   Border(s)
*/

:root {
    /* navigation menu */
    --nav-bg: rgb(223, 179, 179);
    --nav-bd: beige;

    /* Header */
    --header-bg: rgb(119, 168, 231);
    --header-me-img: red;

    --menu-aslash-bg: linear-gradient(to right, rgb(91, 111, 222), rgb(113, 131, 229));
    --menu-aslash-bdr: rgb(72, 87, 167);

    --menu-items-bg: linear-gradient(to right, rgb(113, 131, 229), rgb(151, 162, 226));


    --main-bg: #fff7b3;

    --main-heading-bdr: rgb(109, 211, 109);
    --main-heading-bg: rgb(196, 247, 196);

    --about-img-corner: rgb(250, 191, 72);

    --pdis-bd: grey;
    --pdis-col-bds: red;
    --pdis-item-bg: rgb(255, 203, 106);
    --pdis-col1-sel: navy;

    --mssep-bd: rgb(71, 71, 71);
}