/* Main */
main {
    display: flex;

    flex: 95;
    width: inherit; /* body is 100%; */
    background: radial-gradient(circle, var(--main-bg-rStart) 0%, var(--main-bg-rEnd) 100%);
}

/* homeAnimDiv.css */