/* Header */
header {
    flex: 5;
    width: inherit;
}

header > nav {
    display: flex;
    width: inherit;

    background-color: var(--nav-bg);
    
    color: var(--over-nav);
    font-size:120%;
}

header > nav > ul#nav-menu-items {
    list-style: none;
    padding: 1rem;
    width: inherit;
}

header > nav > ul#nav-menu-items li {
    float: left; /* Displays everything inline */
    padding: 0.5rem;
    padding-left: 1.5%;
    padding-right: 1.5%;
}