/* Removing default margin & padding */
* { margin: 0; padding: 0; }

html, body {
    width: 100%;
    height: auto;
    font-family: 'Exo';
    scroll-behavior: smooth;
}

/* navigation menu */

nav {
    display: flex;
    width: inherit;
    height: 4rem;
    position: sticky;
    top: 0;
    z-index: 5;
    background-color: var(--nav-bg);
    border-bottom: solid 12px var(--nav-bd);
    font-weight: bolder;
    font-size: medium;
}

    nav a {
        transition: background-color 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
    }

    nav #home-button {
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        width: 12em;
    }

        nav #home-button a {
            width: 80%;
        }

        nav #home-button a:hover {
            background-color: unset;
            transition: unset;
        }

            nav #home-button a > * {
                transform: skew(32deg);
            }

    nav a:visited, nav a {
        color: black;
        text-decoration: none;
        height: 100%;
        align-self: center;
    }

    nav a {
        display: flex;
        align-items: center;
        justify-content: center;
        transform: skew(-32deg);
    }

        nav a > * {
            transform: skew(32deg);
        }

    nav a:hover {
        background-color: var(--nav-bt-hover);
    }

    nav > ul {
        display: flex;
        list-style-type: none;
        width: inherit;
        align-items: center;
        justify-content: flex-end;
        text-decoration: none;
        color: inherit
    }

        nav > ul li {
            margin-left: 2em;
            margin-right: 2em;
            text-align: center;
        }

        nav ul a:nth-child(4) ~ a {
            transform: unset !important;
            display: block;
            width: 5em;
            height: 50%;
        }

        nav ul a:nth-child(4) ~ a:hover {
            transition: unset;
            background-color: unset;
        }

            ul a:nth-child(5) {
                margin-left: 20px;
            }

            ul a:nth-child(5) li {
                transform: unset;
                margin: 0;
                max-width: 40%;
                height: 85%;
            }

                a:nth-child(5) li > img {
                    width: 100%;
                    height: 100%;
                }

/* Header */

header {
    background-color: var(--header-bg);
    display: flex;
    color: #190d3b;
    height: 43rem;
}
    .myself-img-container {
        width: 65%;
        z-index: 3;
    }
        .myself-img-container img {
            width: 100%;
            height: 100%;
        }
    
    .menu-container {
        display: flex;
        flex-direction: column;

        height: 100%;
    }

        .pres-desc {
            height: 30%; 
        }

            .pres-desc > h1 {
                font-size: 260%;
                margin: 1em;
            }

            .pres-desc p {
                margin-left: 3em;
                font-size: 150%;
            }

        .selector-menu {
            height: 70%;

            display: flex;
            align-items: center;
            width: 100%;
        }

            .selector-menu ul {
                list-style: none;
                height: 65%;
                width: 30rem;

                display: flex;
                justify-content: space-between;
                flex-direction: column;
                z-index: 1;
                }

                .menu-box {
                    display: flex;
                    width: 100%;
                    height: 20%;
                }
                        .menu-box a {
                            background: var(--menu-items-bg);
                            font-weight: bolder;
                            height: 100%;
                            width: 100%;
                            font-size: 2.5rem;
                            border: solid 1px blue;

                            transform: skew(-30deg);

                            transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
                            transition-duration: 420ms;
                            position: relative;
                            display: flex;
                            align-items: center;
                            justify-content: flex-end;

                        }
                            .menu-box a {
                                text-decoration-line: none;
                            }

                                .menu-box a:visited {
                                    font-style: unset;
                                    color: inherit;
                                }
                                    .menu-box a li p {
                                        transform: skew(30deg);
                                        margin-right: 1.6em;
                                    }

                            ul .menu-box:nth-child(1) a {
                                position: relative;
                                right: calc(4 * 5%);
                            }
                            
                            ul .menu-box:nth-child(2) a {
                                position: relative;
                                right: calc(6 * 5%);
                            }

                            ul .menu-box:nth-child(3) a {
                                position: relative;
                                right: calc(8 * 5%);
                            }
                            
                            ul .menu-box:nth-child(4) a {
                                position: relative;
                                right: calc(10 * 5%);
                            }
                        
                        .menu-box a:hover {
                            transform: translate(60px) skew(-30deg);
                        }
                        
                        .menu-box .menu-selected-desc {
                            display: flex;
                            align-items: center;
                        }
            


/* Nice-looking section separator */
.master-section-separator {
    width: 100%;
    height: 6rem;
    background: linear-gradient(#5b566a 0%, #4f4d55 50%, #5b566a 100%);
    border-top: var(--mssep-bd) solid 6px;
    border-bottom: var(--mssep-bd) solid 6px;
}

/* Main */
main {
    background-color: var(--main-bg);
}

    main section {
        padding: 5%;
    }

        main section .heading {
            margin-bottom: 5%;
            padding: 2em;
                padding-top: 1em;
                padding-right: 3em;
                padding-left: 3em;
                padding-bottom: 1em;
            border-bottom: ridge 0.8em var(--main-heading-bdr);
            border-right: ridge 0.8em var(--main-heading-bdr);
            max-width: max-content;
            background-color: var(--main-heading-bg);
            transform: skew(-32deg);
        }

        main section .heading * {
            transform: skew(32deg);
        }

            main section .heading h1 {
                font-size: 3em;
            }
        
        main section article.content {
                display: flex;
                line-height: 1.5;
                margin-top: 2.5%;
                margin-bottom: 2.5%;
                justify-content: space-around;
                font-size: larger;
        }
            div.desc p {
                margin-top: 3em !important; 
            }

        /* Alternates from Picture-Description to Description-Picture*/
        main article.content:nth-of-type(2n+1) {
            flex-direction: row-reverse;
        }
            main section article.content * {
                margin: 2.5%;
            }


            main section article.content .img-styled-container {
                 background-color: var(--about-img-corner);
                 width: 480px;
                 height: 360px;
                 border-radius: 35px;
            }

            main section article.content .img-styled-container img  {
                clip-path: polygon(20% 0, 100% 0, 100% 80%, 80% 100%, 0 100%, 0 20%);
                width: inherit;
                height: inherit;
                object-fit: fill;
                margin: 0; 
            }
 
            main section article.content h2{
                font-size: 180%;
                margin-left: 3rem;
                width: 100%;
            }